<div class="p-[2rem]">
  <div class="flex justify-center items-start">
    <div
      class="w-full flex justify-start gap-[2rem] items-center cursor-pointer"
    >
      <!-- Sections -->
      <div
        routerLink="section"
        class="w-[256px] h-[160px] bg-[#ffffff] rounded-xl p-[1.5rem] shadow-[0_2px_10px_rgba(0,0,0,0.1)] hover:shadow-[0_4px_14px_rgba(0,0,0,0.3)] transition-shadow"
      >
        <h2 class="text-[2rem] font-[900] text-[#222222]">Sections</h2>
        <p class="text-[1rem] text-[gray]">Manage Sections</p>
      </div>

      <!-- Students -->
      <div
        routerLink="student"
        class="w-[256px] h-[160px] bg-[#ffffff] rounded-[12px] p-[1.5rem] shadow-[0_2px_10px_rgba(0,0,0,0.1)] hover:shadow-[0_4px_14px_rgba(0,0,0,0.3)] transition-shadow"
      >
        <h2 class="text-[2rem] font-[900] text-[#222222]">Students</h2>
        <p class="text-[1rem] text-[gray]">Manage Students</p>
      </div>

      <!-- Teachers -->
      <div
        class="w-[256px] h-[160px] bg-[#ffffff] rounded-[12px] p-[1.5rem] shadow-[0_2px_10px_rgba(0,0,0,0.1)] hover:shadow-[0_4px_14px_rgba(0,0,0,0.3)] transition-shadow"
      >
        <h2 class="text-[2rem] font-[900] text-[#222222]">Teachers</h2>
        <p class="text-[1rem] text-[gray]">Manage Teachers</p>
      </div>
    </div>
  </div>
</div>
