<div class="flex items-center justify-center">
  <div class="w-[400px] p-[3rem] bg-white rounded-4xl">
    <h1 class="text-[3rem] font-[900] text-center mb-[2rem]">SIGN IN</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="space-y-6">
      <div>
        <label for="username" class="block text-sm font-medium text-[#202124]">
          Username
        </label>
        <input
          id="username"
          type="text"
          formControlName="username"
          class="mt-1 w-full border-[1px] border-[black] rounded-md px-4 py-3 text-sm text-[#202124] focus:outline-none focus:ring-3 focus:ring-blue-500"
        />
      </div>
      <div>
        <label for="password" class="block text-sm font-medium text-[#202124]">
          Password
        </label>
        <input
          id="password"
          type="password"
          formControlName="password"
          class="mt-1 w-full border-[1px] border-[black] rounded-md px-4 py-3 text-sm text-[#202124] focus:outline-none focus:ring-3 focus:ring-blue-500"
        />
      </div>
      <button
        type="submit"
        class="w-full bg-blue-600 text-white py-4 rounded-md hover:bg-blue-900 transition cursor-pointer"
      >
        Sign In
      </button>
    </form>
  </div>
</div>
